[flake8]
max_line_length=120
exclude = .venv
per-file-ignores =
    # E402 module level import not at top of file
    doc.py:E402
    # F401 imported but unused
    __init__.py:F401
    src/codemagic/apple/resources/__init__.py:F401
    src/codemagic/google_play/resources/__init__.py:F401
    # N815 variable in class scope should not be mixedCase
    src/codemagic/apple/resources/*.py:N815
    src/codemagic/google_play/resources/*.py:N815
    src/codemagic/models/export_options.py:N815
