[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pylint = "*"
autopep8 = "*"
twine = "*"
ipdb = "*"
pytest = "*"
pytest-cov = "*"
mdutils = "*"
pipenv = "*"
isort = "*"
flake8 = "*"
flake8-commas = "*"
flake8-quotes = "*"
pep8-naming = "*"
types-requests = "*"

[packages]
pyopenssl = "~=19.0"
pyjwt = "~=2.0"
requests = "~=2.25"
cryptography = "~=3.3"
oauth2client = "~=4.1.3"
google-api-python-client = "~=1.7.12"
httplib2 = "~=0.19.0"

[requires]
python_version = "3.7"
