name: Checks

on: [push]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7

    - uses: actions/cache@v1
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/Pipfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip pipenv
        pipenv install --dev

    - name: Pipenv checks
      run: |
        pipenv check --ignore 37752

    - name: Static type checks with mypy
      env:
        MYPYPATH: stubs
      run: |
        pipenv run mypy src/codemagic

    - name: Test with pytest
      env:
        TEST_APPLE_ISSUER_ID: ${{ secrets.TEST_APPLE_ISSUER_ID }}
        TEST_APPLE_KEY_IDENTIFIER: ${{ secrets.TEST_APPLE_KEY_IDENTIFIER }}
        TEST_APPLE_PRIVATE_KEY_CONTENT: ${{ secrets.TEST_APPLE_PRIVATE_KEY_CONTENT }}
      run: |
        pipenv run pytest
