name: Checks

on:
  push:
  pull_request:

jobs:
  test-py-3-7:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7

    - uses: actions/cache@v1
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/poetry.lock') }}-py-3-7
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install dependencies
      run: |
        curl -sSL https://install.python-poetry.org | python - --version 1.5.1
        poetry config virtualenvs.in-project true
        poetry install --no-interaction

    - name: Check code formatting
      run: |
        poetry run black --check .
        poetry run ruff check .

    - name: Static type checks with mypy
      run: poetry run mypy .

    - name: Test with pytest
      run: poetry run pytest

  test-py-3-11:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Set up Python 3.11
      uses: actions/setup-python@v1
      with:
        python-version: 3.11

    - uses: actions/cache@v1
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/poetry.lock') }}-py-3-11
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install dependencies
      run: |
        curl -sSL https://install.python-poetry.org | python
        poetry config virtualenvs.in-project true
        poetry install --no-interaction

    - name: Check code formatting
      run: |
        poetry run black --check .
        poetry run ruff check .

    - name: Static type checks with mypy
      run: poetry run mypy .

    - name: Test with pytest
      run: poetry run pytest

  test-py-3-12:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Set up Python 3.12
      uses: actions/setup-python@v4
      with:
        python-version: 3.12

    - uses: actions/cache@v1
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/poetry.lock') }}-py-3-12
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install dependencies
      run: |
        curl -sSL https://install.python-poetry.org | python
        poetry config virtualenvs.in-project true
        poetry install --no-interaction

    - name: Check code formatting
      run: |
        poetry run black --check .
        poetry run ruff check .

    - name: Static type checks with mypy
      run: poetry run mypy .

    - name: Test with pytest
      run: poetry run pytest
